{% extends "base.html" %}

{% block title %}Slide {{ slide.pk }}{% endblock %}

{% block styles %}
<style type="text/css">
.slide {
    border: 1px solid black;
}

ul {
    list-style-type: none;
}
</style>
{% endblock %}

{% block content %}

<div class="slide">
<ul>
<input type="hidden" name="id" value="{{ slide.pk }}" />
<li>Title: <span class="title">{{ slide.title }}</span></li>
<li>User: {{ slide.user.get_full_name }}</li>
<li>Group: {{ slide.group }}</li>
<li>Priority: {{ slide.priority }}</li>
<li>Duration: {{ slide.duration }} seconds</li>
<li>Expires: {{ slide.expires_at|date:"P - N j, Y" }}</li>
<li>Mode: {{ slide.get_mode_display }}</li>
<li>Transition: {{ slide.get_transition_display }}</li>
<span>Last Update: {{ slide.last_update|date:"P - N j, Y" }}</span>
</ul>
<div class="assets">

<ul>
    {% for a in slide.assets.all %}
    <li><a href="{{ a.url }}">{{ a.file_name }}</a> - {{ a.last_update }}</li>
    {% endfor %}
</ul>
</div>
</div>

{% endblock %}
