@import "jquery-ui-1.7.2.custom.css";
@font-face {
    font-family: Sketch;
    src: url("../fonts/SketchRockwell-Bold.ttf");
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;
    margin: 30px 30px 30px 30px;
    min-width: 800px;
}

.content {
    margin-right: 5%;
    margin-left: 5%;
}

input {
    border: 1px solid #292929;
    background-color: #292929;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

#header {
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
    display: block;
}

#branding {
    font-family: Sketch;
    float: left;
    font-weight: bold;
    font-size: 225%;
    background: transparent url("/media/images/header-white.png") no-repeat scroll left top;
    width: 468px;
    height: 50px;
}

#navigation {
    float: right;
}

#navigation a {
    font-family: Sketch;
    font-size: 1.3em;
    padding-right: 1em;
    font-weight; bold;
}

a, :visited {
    text-decoration: inherit;
}

li.active {
    border-left:#fff solid 1px;
    border-top:#fff solid 1px;
    border-right:#fff solid 1px;
    z-index:1;
}

div.icon {
    display:inline;
    float:left;
    clear:right;
    margin-right:1em;
    width:200px;
    height:150px;
    text-align:center;
    opacity:.75;
    margin-bottom:2em;
}

div.icon:hover {
    opacity:1;
    cursor: pointer;
}

.icon-img {
    margin:0;
}

#buttons {
    margin:0.4em;
}

a.button {
    background-color:#444;
    border: 2px solid #111;
    padding:0.25em;
    color:#fff;
    text-decoration:none;
    font-size:1.25em;
    opacity:.75;
}

a.button:hover {
    opacity:1;
}

.playlistitem {
    margin:5px 0;
    border-top:#333 solid 1px;
    border-bottom:#333 solid 1px;
}

.rempi, #addpi {
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:5px;
}

#playlistarea {
    font-size:1.4em;
}

a.playlist-list-link {
    font-weight:bold;
}

a.playlist-list-link:hover {
    text-decoration:underline;
}
