body {
    color: #333;
    font-family: sans-serif;
    font-size: 10pt;
    margin: 30px 30px 30px 30px;
}

input[type="text"] {
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    font-size: 20px;
}

th {
    color: #8b8b8b;
    font-family: sans-serif;
    font-size: 200%;
}

#header {
    text-align: center;
}

#navigation {
    display: block;
    float: right;
    position: absolute;
    top: 0px;
    right: 2px;
}

#navigation  ul li {
    list-style-type: none;
    padding: 15px;
}

:link, :visited {
    color: #8b8b8b;
    font-weight:bold;
    text-decoration: inherit;
}

:link:hover, :visited:hover {
    color: black;
}
