@font-face {
    font-family: Sketch;
    src: url("media/fonts/SketchRockwell-Bold.ttf");
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
    font-size: 10pt;
    margin: 30px 30px 30px 30px;
    min-width: 800px;
}

.content {
    margin-right: 10%;
    margin-left: 10%;
}

input {
    border: 1px solid #292929;
    background-color: #292929;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFDD8;
}

#header {
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
    display: block;
}

#branding {
    font-family: Sketch;
    float: left;
    font-weight: bold;
    font-size: 225%;
    background: transparent url("/media/images/header-white.png") no-repeat scroll left top;
    width: 468px;
    height: 50px;
}

#navigation {
    float: right;
}

#navigation  li {
    float: left;
    list-style-type: none;
    padding-right: 15px;
}

a, :visited {
    color: #fff;
    font-weight: bold;
    text-decoration: inherit;
}

a, :visited:hover {
    color: #68afff;
}

dt {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    width: 125px;
    font-family: sans-serif;
}

dd {
    margin-left: 2px;
    padding: 6px 0;
}

dd ul {
    margin-top: 30px;
    line-height: 175%;
    list-style-type: none;
}

.section {
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin-bottom: 30px;
}

.info {
    padding-right: 7px;
    padding-left: 7px;
    display: none;
}

.pointer {
    padding: 7px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.pointer:hover {
    background-color: #68afff
}
