@import "base.css";
@import "jquery-ui-1.7.2.custom.css";

.section {
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin-bottom: 30px;
}

.info {
    padding-right: 7px;
    padding-left: 7px;
    display: none;
}

.info dt {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    width: 125px;
    font-family: sans-serif;
}

.info dd {
    margin-left: 2px;
    padding: 6px 0;
}

.info dd ul {
    margin-top: 30px;
    line-height: 175%;
    list-style-type: none;
}

.pointer {
    padding: 7px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.pointer:hover {
    background-color: #68afff;
}

.adder {
    background-color: #68afff;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.addsession {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 30px;
    display: none;
}


#clientarea {
padding:5px;
}

.clientbox {
display:block;
float:left;
padding:3px;
text-align:center;
background-color: #303030;
border: 2px solid #222;
}

.slidepreview {
display:block;
float:none;
clear:both;
}

.infopopup {
  display:none;
}
