@import "base.css";

.section {
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin-bottom: 30px;
}

.info {
    padding-right: 7px;
    padding-left: 7px;
    display: none;
}

.info dt {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    width: 125px;
    font-family: sans-serif;
}

.info dd {
    margin-left: 2px;
    padding: 6px 0;
}

.info dd ul {
    margin-top: 30px;
    line-height: 175%;
    list-style-type: none;
}

.pointer {
    padding: 7px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.pointer:hover {
    background-color: #68afff;
}

.adder {
    background-color: #68afff;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.addsession {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 30px;
    display: none;
}


#clientarea {
    padding:5px;
}

#slidearea {
    padding:5px;
}

.slidebox {
    display:block;
    float:left;
    padding:3px;
    text-align:center;
    background-color: #303030;
    border: 2px solid #222;
}

.slidepreview {
    display:block;
    float:none;
    clear:both;
}

.infopopup {
    display:none;
}

/* Playlist Control */

.left {
    float: left;
    width: 750px;
}

.right {
    float: right;
    width: 470px;
}

#toolbox {
    background: white;
    color: #000;
    width: 470px;
    height: 300px;
    float: right;
    overflow: auto;
}

.plig_toolbox_item {
    border: 1px solid #666;
    float: left;
    display: inline;
    height: auto; 
    width: 200px;
    padding: 3px;
    margin: 10px;
}

.plis_toolbox_item {
    border: 1px solid #666;
    float: left;
    display: inline;
    height: auto;
    width: 200px;
    padding: 3px;
    margin: 10px;
}


#playlist {
    
}

#playlist ul {
    list-style: none;
}

#playlist li {
    list-style: none;
    clear: both;
    margin-top: 10px;
    padding: 10px;
}

#playlist li.plis {
    background: #666;
}

#playlist li.plig {
    background: #444;
}

#playlist li.hover {
    background: #ffcc00;
}

span.removable-option {
    border: 1px solid #000;
    background: #666;
    padding: .5em;
    margin: .5em;
}

span.removable-option span.ro-button {
    display:inline-block;
    text-align: center;
    vertical-align: center;
    border: 1px solid #AAA;
    background: #999;
    margin: .3em;
    width: 1em;
    height: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

span.removable-option span.ro-button:hover {
    background: #777;
}