<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
    <!-- Ye olde Google -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.4.0");</script>
    <script type="text/javascript">google.load("jqueryui", "1.7.2");</script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{% block style %}base.css{% endblock %}">
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div id="header">
  <a href="{% url orwell-landing %}" title="Crew Digital Display"><div id="branding"></div></a>
  <div id="navigation">
    {% if user.is_authenticated %}
    <a href="/admin/">Admin</a>
    <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
    {% else %}
    <a href="{% url django.contrib.auth.views.login %}">Login</a>
    {% endif %}
  </div>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
</body>
</html>
