<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
    <!-- Ye olde Google -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.3.2");</script>
    <script type="text/javascript">google.load("jqueryui", "1.7.0");</script>

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/{% block style %}base.css{% endblock %}">

{% block scripts %}{% endblock %}
</head>
<div id="header">
  <h1>Digital Display Backend</h1>
</div>
<div id="navigation">
  <ul>
    <li><a href="{% url orwell-index %}">Status</a></li>
    <li><a href="#">Slides</a></li>
    <li><a href="{% url orwell-clients-index %}">Clients</a></li>
    <li><a href="#">Assets</a></li>
  </ul>
</div>
<body>
{% block content %}{% endblock %}
</body>
</html>
