{% extends "orwell/base-index.html" %}
{% block title %}Assets{% endblock %}

{% block content %}
<div class="adder">
Add An Asset
</div>
<div class="addsession">
<table>
  {{ assets_form.as_table }}
</table>
<input type="submit" value="Add" />
</div>
{% for asset in assets %}
<div class="section">
  <div class="pointer">
    {% if asset.name %}
    {{ asset.name }}
    {% else %}
    {{ asset.url }}
    {% endif %}
  </div>
  <div class="info">
    <dl>
      {% if asset.description %}
      <dt>Description</dt>
      <dd>{{ asset.description }}</dd>
      {% endif %}
      <dt>File</dt>
      <dd><a href="{{ asset.url }}">{{ asset.file_name }}</a></dd>
    </dl>
  </div>
</div>
{% endfor %}
{% endblock %}
