{% extends "orwell/base-index.html" %}
{% block title %}Clients{% endblock %}

{% block content %}
<div class="adder">
Add A Client
</div>
<div class="addsession">
<table>
  {{ clients_form.as_table }}
</table>
<input type="submit" value="Add" />
</div>
{% for client in clients %}
<div class="section">
  <div class="pointer">
    {{ client.client_id }}
  </div>
  <div class="info">
    <dl>
      <dt>Location</dt>
      <dd>{{ client.location }}</dd>
      <dt>Groups</dt>
      <dd>
        <ul>
          {% for g in client.groups.all %}
          <li>{{ g }}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </div>
</div>
{% endfor %}
{% endblock %}
