{% extends "orwell/base-index.html" %}
{% block title %}Clients{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/media/js/clientindex.js"></script>
<script type="text/javascript">
  var jsonupdateurl = "{% url orwell-json-activity-all %}";
  var clientpowerurl = "{% url orwell-displaycontrol %}";
  var is_staff = "{{ user.is_staff }}";
</script>
{% endblock %}

{% block content %}
<h1>Frontend Status</h1>
<form id="clientfilterform">
<select id="locationselect">
  <option value="">--Location--</option>
  {% for loc in locations %}
  <option value="{{loc.id}}">{{loc}}</option>
  {% endfor %}
</select>
<select id="groupselect">
  <option value="">--Group--</option>
  {% for grp in groups %}
  <option value="{{grp.id}}">{{grp}}</option>
  {% endfor %}
</select>
<label for="showoffline">Display offline clients?</label>
<input type="checkbox" id="showoffline" checked="true">
<input type="reset" id="resetfilter"
       class="fg-button ui-state-default ui-corner-all">
</form>
<div id="clientarea">
{% for client in clients %}
<div class="slidebox {{client.get_class_tags}} ui-corner-all"
  id="client-{{ client.id_hash }}">
  <img src="{{client.thumbnailurl}}" alt="{{client.slidecaption}}"
  title="{{client.slidecaption}}" height="125" width="200" class="slidepreview">
  {{ client.displayname }}
  <div class="infopopup" title="{{client.client_id}}"
    id="infobox-{{ client.id_hash }}">
    <input type="hidden" id="clientid-{{ client.id_hash }}"
           class="clientid" value="{{client.client_id}}">
    <div class="keyval">
      Location: <span class="kv-location">{{ client.location }}</span>
    </div>
    <div class="keyval">
      Groups: <span class="kv-groups">{{ client.groups.all|join:", " }}
    </div>
    <div class="keyval">
      Last Contact: <span class="kv-lastcontact">{{ client.last_contact }}
      </span>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
