{% if user.is_staff %}
<script type="text/javascript">
  function clientid() {
    return $('#powerctlclient').val();
  }
  function senddata(data) {
    client = clientid();
    if (client == '') {
      alert('Please select a client!');
      return;
    }
    else {
      data.client = client;
      $.ajax({type:'POST', data:data, url:"{% url orwell-displaycontrol %}"});
    }
  }
  function poweroff() { senddata({setpower:'off'}); }
  function kill() { senddata({setpower:'kill'}); }
  function poweron() { senddata({setpower:'on'}); }
  function setvolume() {
    vol = $('#volumeslide').slider('value');
    senddata({cmd:'VOLM', arg:vol});
  }
  function chup() { senddata({cmd:'CHUP', arg:0}); }
  function chdw() { senddata({cmd:'CHDW', arg:0}); }
  function hdmi() { senddata({cmd:'IAVD', arg:6}); }
  function setsliderbutton(val) {
    val = val+'';
    if (val.length < 2) {
      val = '0'+val;
    }
    $('#setvol').attr('value', 'Set Volume ('+val+')');
  }

  $(function() {
      $('#poweroff').click(poweroff);
      $('#poweron').click(poweron);
      $('#kill').click(kill);
      $('#volumeslide').slider({min:0, max:60, animate: true});
      $('#volumeslide').bind('slidestop', function(event, ui) {
        senddata({cmd:'VOLM', arg:ui.value});
        setsliderbutton(ui.value);
      });
      $('#volumeslide').bind('slide', function(event, ui) {
        setsliderbutton(ui.value);
      });
      $('#setvol').click(setvolume);
      $('#chup').click(chup);
      $('#chdw').click(chdw);
      $('#hdmi').click(hdmi);
    });
</script>
<div>
<input type="hidden" id="powerctlclient">
<input class="fg-button ui-state-default" type="button"
       id="poweron" value="Power On">
<input class="fg-button ui-state-default" type="button"
       id="poweroff" value="Power Off">
<input class="fg-button ui-state-default" type="button"
       id="kill" value="Kill DDS">
<br><br>
<div id="volumeslide"></div>
<br>
<input class="fg-button ui-state-default" type="button"
       id="setvol" value="Set Volume (00)">
<input class="fg-button ui-state-default" type="button"
       id="hdmi" value="HDMI Input">
<br><br>
<input class="fg-button ui-state-default" type="button"
       id="chup" value="Channel Up">
<input class="fg-button ui-state-default" type="button"
       id="chdw" value="Channel Down">
</div>
</div>
{% else %}
<div>Sorry, you must be logged in as staff to use power control features!</div>
{% endif %}
