{% extends "base.html" %}
{% block title %}Digital Display Manager{% endblock %}
{% block content %}
<div onclick="window.location='{% url orwell-client-index %}'" class='icon'>
  <img class='icon-img' src='/media/images/view-edit-clients.png'>
  <p class='icon-text'>View/Edit Clients</p>
</div>
<div onclick="window.location='{% url orwell-create-slide %}'" class='icon'>
  <img class='icon-img' src='/media/images/create-slide-from-bundle.png'>
  <p class='icon-text'>Create Slide From Bundle</p>
</div>
<div onclick="window.location='{% url orwell-create-pdf-slide %}'" class='icon'>
  <img class='icon-img' src='/media/images/create-slide-from-pdf.png'>
  <p class='icon-text'>Create Slide From PDF</p>
</div>
<div onclick="window.location='{% url orwell-slide-index %}'" class='icon'>
  <img class='icon-img' src='/media/images/edit-slides.png'>
  <p class='icon-text'>Edit Slides</p>
</div>
<div onclick="window.location='{% url orwell-create-playlist  %}'" class='icon'>
  <img class='icon-img' src='/media/images/create-playlists.png'>
  <p class='icon-text'>Create Playlist</p>
</div>
<div onclick="window.location='{% url orwell-playlist-index  %}'" class='icon'>
  <img class='icon-img' src='/media/images/edit-playlists.png'>
  <p class='icon-text'>Edit Playlists</p>
</div>
{% endblock %}
