{% extends "orwell/base-index.html" %}
{% block title %}Slides{% endblock %}
{% block scripts %}

<script type="text/javascript" src="/media/js/playlistindex.js"></script>

{% endblock %}

{% block content %}
<h1>Playlists</h1>
<div id="buttons">
<a class="button" href='{% url orwell-create-playlist %}'>Create Playlist</a>
</div>
<div id="playlistarea">
<!-- TODO: make this awesome and not a simple list -->
<ul>
{% for playlist in playlists %}
<li>{{ playlist.name }} - <a class="playlist-list-link" href='{% url orwell-playlist-edit playlist.id %}'>Edit</a> / <a class="playlist-list-link" href='#' onclick='deleteplaylist($(this),{{ playlist.id }});'>Delete</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
