{% extends "orwell/base-index.html" %}
{% block title %}Playlists{% endblock %}
{% block scripts %}

<script type="text/javascript" src="/media/js/slideindex.js"></script>

<script type="text/javascript">

function build_playlist(data) {
  for each (var datum in data) {
    alert(datum);
    plitem = $('<li>');
    
    if (datum.type === 'PlaylistItemSlide') {
      // PlaylistItemSlide
      plitem.addClass("plis");
      plitem.attr('id', datum.id);
      plitem.text(datum.slide.title);
      plitem.children.add($('<img>').attr('src', datum.slide.thumbnail));
    } else {
      // PlaylistItemGroup
      plitem.addClass("plig");
      plitem.attr('id', datum.id);
      plitem.text(datum.groups.map(function(group) {
	return group.name;
      }).join(", "));

    }
    
  }  
  Window.data = data; // for debug
}

$(function() {

  $.getJSON('{% url orwell-json-playlist-detail plid %}', build_playlist);

});

$(document).ready(function(){
  $("#playlist").sortable();
  $(".plig_toolbox_item").draggable();
  $(".plig").droppable( { accept: ".plig_toolbox_item",
	                  hoverClass: "hover",
	  		  drop: function(id) {
			    alert("Group " + id + " has been dropped.");
			  }} );
  
  $(".plis_toolbox_item").draggable();
  $(".plis").droppable( { accept: ".plis_toolbox_item",
	 		  hoverClass: "hover",
	                  drop: function(id) {
			    alert("Slide " + id.src + " has been dropped");
			  }})
});



</script>

{% endblock %}

{% block content %}

<h1>Playlists</h1>
<form id="slidefilterform">
<select id="selplaylist">
  <option value="">--Playlist--</option>
  {% for pl in playlists %}
  <option value="{{pl.id}}">{{pl}}</option>
  {% endfor %}
</select>

<div class="left">

<ul id="playlist">

</ul>

</div>

<div id="right">

<div id="toolbox">
	{% for slide in slides %}
	<div id="slide{{slide.id}}" class="plis_toolbox_item">
		<img src="{{slide.thumbnail.url}}">
	</div>
	{% endfor %}
	{% for group in groups %}
	<div id="group{{group.id}}" class="plig_toolbox_item">
		{{group}}
	</div>
	{% endfor %}
</div>

</div>

<input type="submit"></input>

</form>
{% endblock %}
