{% extends "base.html" %}
{% block style %}playlistdetail.css{% endblock %}
{% block title %}Playlists{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/playlistdetail.js">
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/playlistindex.js">
</script>
<script type="text/javascript">
  playlistdatauri = '{% url orwell-json-playlist-detail plid %}';
  playlistlisturi = '{% url orwell-json-playlist-list %}';
</script>
{% endblock %}

{% block content %}

<div class="left">

  <form id="playlistselector">
    <label for="playlist-selector-dropdown">Select a playlist to edit</label>
    <select id="playlist-selector-dropdown">
      <option value="#">--Playlist--</option>
    </select>
  </form>

  <input type="submit" id="playlist-save" value="Save Changes" />
  <input type="submit" id="playlist-reset" value="Revert Changes" />


<ul id="playlist">

</ul>

</div>

<div id="right">

<div id="toolbox">
	{% for slide in slides %}
	<div id="slide{{slide.id}}" class="plis_toolbox_item">
		<img src="{{slide.thumbnail.url}}">
	</div>
	{% endfor %}
</div>

</div>

{% endblock %}
