{% extends "orwell/base-index.html" %}
{% block title %}Slides{% endblock %}
{% block scripts %}

<script type="text/javascript" src="/media/js/playlistindex.js"></script>

{% endblock %}

{% block content %}
<h1>Playlists</h1>
<div id="buttons">
<a class="button" href='{% url orwell-create-playlist %}'>Create Playlist</a>
</div>
<div id="playlistarea">
<!-- TODO: make this awesome and not a bunch of lines -->
{% for playlist in playlists %}
  {{ playlist.name }} - <a href='{% url orwell-playlist-edit playlist.id %}'>Edit</a>/<a href='javascript:deleteplaylist({{ playlist.id }});return false;'>Delete</a><br />
{% endfor %}
</div>
{% endblock %}
