{% extends "orwell/base-index.html" %}
{% block title %}Playlists{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/media/js/playlistdetail.js"></script>
<script type="text/javascript">
  playlistdatauri = '{% url orwell-json-playlist-detail plid %}'
</script>
{% endblock %}

{% block content %}

<div class="left">

<ul id="playlist">

</ul>

</div>

<div id="right">

<div id="toolbox">
	{% for slide in slides %}
	<div id="slide{{slide.id}}" class="plis_toolbox_item">
		<img src="{{slide.thumbnail.url}}">
	</div>
	{% endfor %}
	{% for group in groups %}
	<div id="group{{group.id}}" class="plig_toolbox_item">
		{{group}}
	</div>
	{% endfor %}
</div>

</div>

<input type="submit" id="submit" value="Submit"></input>

</form>

{% endblock %}
