{% extends "orwell/base-index.html" %}
{% block title %}Playlists{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/playlistindex.js">
</script>
<script type="text/javascript">
  playlistlisturi = '{% url orwell-json-playlist-list %}';
</script>
{% endblock %}

{% block content %}
<h1>Playlists</h1>
</script>
  <form id="playlistselector">
    <label for="playlist-selector-dropdown">Select a playlist to edit</label>
    <select id="playlist-selector-dropdown">
      <option value="#">--Playlist--</option>
    </select>
  </form>
{% endblock %}
