{% extends "orwell/base-index.html" %}
{% block title %}Slides{% endblock %}
{% block scripts %}

<script type="text/javascript" src="/media/js/slideindex.js"></script>

{% endblock %}

{% block content %}
<h1>Slides</h1>
<div id="buttons">
<a class="button" href='{% url orwell-create-slide %}'>Create Slide From Bundle</a>
<a class="button" href='{% url orwell-create-pdf-slide %}'>Create Slide From PDF</a>
</div>
<div id="slidearea">
{% for slide in slides %}
<div class="slidebox {{ slide.get_class_tags }} ui-corner-all"
  id="slide-{{ slide.id }}">
  <img src="{{ slide.thumbnailurl }}" alt="{{ slide.title }}"
       title="{{ slide.title }}" height="125" width="200" class="slidepreview">
  {{ slide.title }}
  <div class="infopopup" title="{{slide.title}}"
    id="infobox-slide-{{ slide.id }}">
    <div>Owner: {{slide.user}}</div>
    <input type='hidden' name='id' id='id_id' value="{{slide.id}}"/>
  </div>
</div>
{% endfor %}
</div>
<script type='text/javascript'>
  $('document').ready(function() {
      $('.slidebox').click(function() {
        var slideID = $(this).attr('id').substring(6,$(this).attr('id').length);
        $.get('{% url orwell-slide-edit %}',{slide_id:slideID},
          function(data) {
          $('#infobox-slide-'+slideID).html(data);
          $.get('/json/slides/'+slideID,
            function(data) {
              $('#id_title').val(data['title']);
              $('#id_expires_at').val(data['expires_at']);
              $('#id_priority').val(data['priority']);
              $('#id_duration').val(data['duration']);
              $('#infobox-slide-'+slideID).children('form').append("<input type='hidden' name='slide_id' value='"+data['id']+"'/>");
            }, 'json');
          });
        });
      });

</script>
{% endblock %}
