{% extends "orwell/base-index.html" %}
{% block title %}Slides{% endblock %}
{% block scripts %}

<script type="text/javascript" src="/media/js/slideindex.js"></script>

{% endblock %}

{% block content %}
<h1>Slides</h1>
<form id="slidefilterform">
<input type="reset" id="resetfilter"
       class="fg-button ui-state-default ui-corner-all">
</form>
<div id="slidearea">
{% for slide in slides %}
<div class="slidebox {{ slide.get_class_tags }} ui-corner-all"
  id="slide-{{ slide.id }}">
  <img src="{{ slide.thumbnailurl }}" alt="{{ slide.title }}"
       title="{{ slide.title }}" height="125" width="200" class="slidepreview">
  {{ slide.title }}
  <div class="infopopup" title="{{slide.title}}"
    id="infobox-slide-{{ slide.id }}">
    <div>Owner: {{slide.user}}</div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
