{% extends "orwell/base-index.html" %}
{% block title %}Choose a Template{% endblock %}

<style type="text/css">
div.form-element {
    margin : 1em;
    display: block;
}
</style>

{% block content %}

<form enctype="text/plain" id="newslide" method="post">

  {% for field in template %}
  <div class="form-element">
    <label for="{{field.name}}">{{field.caption}}:</label>

  {% ifequal field.type "text" %}
    {% ifequal field.field_size "s" %}
    <input type="text" name="{{field.name}}" id="{{field.name}}" />
    {% endifequal %}
    {% ifequal field.field_size "l" %}
    <textarea name="{{field.name}}" id="{{field.name}}"></textarea>
    {% endifequal %}
  {% endifequal %}
  
  {% ifequal field.type "dropdown" %}
    <select name="{{field.name}}">
    {% for item in field.items %}
      <option value="{{item}}">{{item}}</option>
    {% endfor %}
    </select>
  {% endifequal %}
  <br /></div>
  {% endfor %}
  <div class="form-element">
    <label for="group">Group:</label>
    <select name="group">
      {% for group in groups %}
      <option value="{{group.id}}">{{group}}</option>
      {% endfor %}
    </select> <br />
  </div>

  <input type="submit" value="Create" />

</form>


{% endblock %}
