{% extends "orwell/base-index.html" %}
{% block title %}Add a New Slide{% endblock %}

<style type="text/css">
div.form-element {
    margin : 1em;
    display: block;
}
</style>

{% block content %}
<form enctype="text/plain" id="newslide" method="post">
  <div class="form-element">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" /> <br />
  </div>

  <div class="form-element">
  <label for="body">Body:</label>
  <textarea name="body" id="body"> </textarea> <br/>
  </div>

  <div class="form-element">
  <label for="date">Date:</label>
  <input type="text" name="date" id="date" /> <br />
  </div>

  <div class="form-element">
  <label for="time">Time:</label>
  <input type="text" name="time" id="time" /> <br />
  </div>

  <div class="form-element">
  <label for="group">Group:</label>
  <select name="group">
  {% for group in groups %}
    <option value="{{group.id}}">{{group}}</option>
  {% endfor %}
  </select> <br />
  </div>
  <input type="submit" value="Create" />

</form>

{% endblock %}
